* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 0;
  #header_map {
	display: flex;
	align-items: center;
  }
  #socialMedia {
	img {
	  margin: 0 40px;
	  cursor: pointer;
	}
	img:first-child {
	  margin-left: 120px;
	}
  }
  ul {
	display: flex;
	margin-left: 30px;
	a {
	  text-decoration: none;
	}
	li:hover {
	  color: #0f6674;
	}
	li {
	  list-style-type: none;
	  padding: 0 15px;
	  color: black;
	  font-size: 24px;
	}
  }
}
