* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 0;
    #header_map {
        display: flex;
        align-items: center;
    }
    #socialMedia {
      img {
          width: 50px;
          margin: 0 40px;
          cursor: pointer;
      }
      img:first-child {
        margin-left: 120px;
      }
    }
    ul {
        display: flex;
        margin-left: 30px;
        a {
            text-decoration: none;
        }
        li:hover {
            color: #0f6674;
        }
        li {
            list-style-type: none;
            padding: 0 15px;
            color: black;
            font-size: 24px;
        }
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    h1 {
      font-size: 48px;
    }
    p {
      margin-top: 25px;
      font-size: 24px;
    }


}

footer {
    max-width: 100%;
    height: 100px;
    //background-color: #4e555b;
    .container {
        height: 100%;
        .row {
            height: 100%;
            div {
                ul {
                    height: 100%;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 0;
                    li {
                        color: white;
                    }
                }
            }
        }
    }
}

#Dream {
    border-radius: 10px;
    width: 30%;
}