
@media only screen and (min-width: 320px) {
	header ul {
		flex-direction: column;
	}

	header #header_map {
		margin: 0 auto;
	}

	#socialMedia {
		display: none;
	}

	main {
		max-width: 90%;
	}
}

@media only screen and (min-width: 375px) {
	#socialMedia {
		display: none;
	}
}

@media only screen and (min-width: 414px) {
	#socialMedia {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	main {
		max-width: 90%;
	}
}

@media only screen and (min-width: 1024px) {
	header {
		max-width: 90%
	}

	header ul {
		flex-direction: row;
	}

	header #header_map {
		margin: 0;
	}

	#socialMedia {
		display: block;
	}

	main {
		max-width: 90%;
	}
}

@media only screen and (min-width: 1280px) {
	header {
		max-width: 1200px;
	}

	header ul {
		flex-direction: row;
	}

	header #header_map {
		margin: 0;
	}

	#socialMedia {
		display: block;
	}

	main {
		max-width: 1200px;
	}

}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1920px) {

}
